.App {
  text-align: center;
}


.App-content {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

a:visited{
  color: #09f
}

.Nav-container{
  color: #09f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.App-content > div{
  margin: auto;
}
